/*LINK COLORS*/
.nav-link
{
    color: red
}

.nav-link:visited
{
    color: green;
}

.nav-link:hover
{
    color: yellow;
}

/* HEADER/HEADING COLORS*/
.page-title
{
    color: rgb(255, 62, 94);
    background-color: navajowhite;
}

.section-heading
{
    color: mediumseagreen;
    background-color: khaki;
}

.subsection-heading
{
    color: rgb(121, 119, 7);
    background-color: khaki;
}

.course-name
{
    color: blueviolet;
    background-color: khaki;
}

.contact-info
{
    background-color:rgb(255, 62, 94);
}

.technologies
{
    color:rgb(255, 62, 94);
    background-color: black;
}
