body {
    background-image: url('a5bg.png');
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

h1 {
    font-weight: 400; 
    margin: 0;
    max-width: 1000px;
    margin: 0 auto;
}


nav {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav li a {
    display: block;
    background-color: #00008b;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 14px;
}

nav li a:hover {
    background-color: #6156ff;
}


main {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
}

h2 {
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-top: 0;
}

p {
    text-align: justify;
    line-height: 1.6;
}


main a:link, main a:visited {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

main a:hover {
    color: red;
    text-decoration: underline;
}


footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.footer-box {
    background-color: #00008b;
    border: 5px solid white;
    padding: 30px;
}

.footer-box p {
    color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}